@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dev'sCool</h1>
    <button onclick ="window.location='CadastroCurso';">Cadastrar Curso </button>
    <button>Cadastrar Aluno </button>
    <button>Matrícula</button>
</div>
